//Welcome to Compass.


@import "compass/reset";


 // VARIABLES 
$gill:'Gill Sans', Calibri, sans-serif;
$centerIt: 0 auto;
$eighty: 80%;
$pos: relative;
$bottom: 45em;
$under: none;
$helv: 'Helvetica Neue', arial, sans-serif;
$peachy: #f4614c;
$half: 50%;
$whole: 100%;

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}	

// UNIVERSAL STYLES

html{
	width: $whole;

}

body{
	@extend html;
	margin: 0;
	font-family: $gill;
}

section{
	position: $pos;
	margin-bottom: 11em;
	float: left;
	width: $whole;
}

a{
	text-decoration: $under;
	color: black;
	position: $pos;
	
	&:hover{ color: #9ccbaa; }
}


p{ font-family: $helv; }

/*=== TYPOGRAPHY ===*/

h1{
	font-weight: 400;
	font-size: 60px;
	position: relative;
	float: right;
	margin: 0;
	right: 1.9em;
}

h2{
	color: #9e9490;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 1px;
	width: 70%;
	position: absolute;
	float: right;
	left: 4.5em;
	top: 3em;
	line-height: 30px;
}

h3{
	font-size: 48px;
	font-weight: 400;
	margin-top: .5em;
	position: $pos;
}
	

h4{

	color: #255b68;
	font-size: 19px;
	font-weight: 400;

}

h5{
	float: left;
	font-weight: 300;
	font-size: 24px;
	color: #3694a7;
	position: $pos;
	width: $eighty;
	top: 1em;
	margin: 0 0 1.5em 0;
}

.introDiv{
	width: 60%;
	margin: $centerIt;
	border-top: 1.5px dotted black;
	border-bottom: 1.5px dotted black;
	position: $pos;
	top: 5em;
	text-align: center;
	height: 180px;

}

// BUTTONS

.bigButton{
	float: right;
	background: rgb(255,205,0);
	height: 3em;
	width: 25em;
	position: $pos;
	top: 13em;
	left: 16em;
	color: black;
	font-weight: 400;

	div{
		position: $pos;
		top: -2.2em;
		left: 5%;
		font-size: 24px;
	}


	&:before{
		content: "\25BA";
		color: rgb(243,98,68);
		font-size: 4em;
		position: $pos;
		left: -2.8em;
		top: -0.1em;
	}

	&:after{
		content: "\25BA";
		color: rgb(255,205,0);
		font-size: 3.5em;
		position: $pos;
		top: -1.58em;
		left: 3.92em;
	}

}	

.smallButton{
	float: right;
	background: rgb(255,205,0);
	height: 3em;
	width: 12em;
	position: $pos;
	top: 2em;
	left: -13em;
	color: black;
	font-weight: 400;


	div{
		position: $pos;
		top: -1.85em;
		left: 35%;
		font-size: 24px;
	}

	&:before{
		content: "\25BA";
		color: #9ccbaa;
		font-size: 3.5em;
		position: $pos;
		left: -0.1em;
	}


	&:after{
		content: "\25BA";
		color: rgb(255,205,0);
		font-size: 3.5em;
		position: $pos;
		top: -1.42em;
		left: 3.33em;
	}

}



header{
	width: $whole;
	text-align: center;
	height: 320px;
	background: $peachy;
	padding-top: 2em;

	img{
		position: $pos;
		top: .5em;
		left: 5em;
	}

	p{
		float: right;
		position: $pos;
		top: 11em;
		left: 4.8em;
		font-size: 15px;
	}


	h2{
		width: $half;
		top: 4em;
		left: 23em;
		color: white;
	}

}

nav{
	height: 2.8em;
	background: black;
	position: $pos;
	width: $whole;
	text-transform: uppercase;
	text-align: center;
	

	ul{
		padding: 0;
		margin: 0;
		height: $whole;


		li{
			width: 9%;
			height: $whole;
			display: inline-block;
			list-style: $under;
			border-left: 2px dotted rgba(90,90,90,.7);
			position: $pos;
		
			&:nth-of-type(7){
				border-right: 2px dotted rgba(90,90,90,.7);
			}

			a{
				float: left;
				color: white;
				height: $whole;
				width: 100%;
				padding: 9%;
				font-weight: 500;
				letter-spacing: 1px;
			}
		}

		.looneyLogo{
			top: 0em;

			img{
				position: absolute;
				left: 20%;
			}
		}
	}
}

.wrapper{
	margin: $centerIt;
	width: $eighty;


 	/*====== Work Section =====*/
	#work{	

		.feature{
			height: 590px;
			width: 95%;
			margin: $centerIt;
			position: $pos;
			top: 7em;
			background: #9ccbaa;

			h3{
				float: right;
				width: 39%;
				text-align: center;
				top: 1.5em;
			}

			#mtv{
				float: left;
				position: $pos;
				top: 170px;
				left: 130px;
				z-index: 2;
			}

			p{
				&:nth-of-type(1){
					float: right;
					position: $pos;
					right: 15em;
					top: 4em;
					color: white;
					letter-spacing: 6px;
					text-transform: uppercase;
				}

				&:nth-of-type(2){
					float: right;
					position: $pos;
					right: 3em;
					top: 5em;
					font-size: 18px;
					width: 430px;
					line-height: 26px;
					font-weight: 200;
					letter-spacing: 1px;
				}
			}
	 	}

	 	.star{
				position: $pos;
				width: 2em;
				float: right;
				right: 19em;
				top: -3em;
		}

		.column{
			width: 33%;
			float: left;
			position: $pos;
			left:1.7em;
			top: 9em;
		
			.caption{
				float: left;
				// background: #f9fafa;
				// border: 1px solid #e5e7e6;
				width: 88.6%;
				padding-left: 5%;
				position: $pos;
				top: 1em;
				
				p{
					width: 85%;
					line-height: 24px;
					font-weight: 300;
					font-size: 14px;
					margin: 1em 0 0 0;
				}
			}
		}

		.third{ top: 6em; }

		.square{
			width: 40%;
			margin: $centerIt;
			background: rgb(255,205,0);
			height: 3em;
			float: left;
			position: $pos;
			top: 8em;
			left: 30%;
			text-align: center;
			padding: 1.5%;
			font-size: 20px;
			color: black;
		}

	}

	

	//===== NEWS =====

	#news{

		.introDiv{ height: 210px;}
		

		h2{
			width: 97%;
			top: 4em;
			left: 0;
			margin: $centerIt;
		}

		.feature{
			background: $under;
			width: 50%;
			float: left;
			position: relative;
			top: 7em;

			p{
				font-size: 18px;
				line-height: 25px;
				font-weight: 200;
				width: 80%;
				position: relative;
				top: 3em;
				margin-bottom: 5em;
			}
		}

		.secondRecent{
			position: $pos;
			top: 7em;
			width: $half;
			float: right;
			right: 2em;

			p{
				font-size: 18px;
				font-weight: 200;
				line-height: 27px;
				width: $eighty;
				position: $pos;
				top: 2.9em;
			}

			a:nth-of-type(2){
				top: 3em;
				left: -14.8em;
				font-size: 1.5em;
			}

			.column{

				float: left;
				position: $pos;
				top: 8.5em;
				width: 10em;
				height: 10em;
				margin-right: 1em;

				&:nth-of-type(3){
					top: 7em;
					margin: 0;
				}

				p{
					font-size: 16px;
					font-weight: bold;
					color:  #3694a7;
					width: $whole;
					position: $pos;
					top: 2em;
				}

			}
			
			.smallButton{
				float: left;
				top: 14em;
				left: 0;
			}			

		}

		.smallButton:before, #blog .smallButton:before{ color: white; }

	}


	/*==== BLOG====*/

	#blog{
		position: $pos;
		float: left;


		.introDiv{
			height: 230px;
			text-align: center;
			
			h2{
				width: 94%;
				left:1.5em;
				line-height: 30px;
			}

		}


		img:nth-of-type(1){
			position: $pos;
			top: 8.5em;
			left: 7em;
		}

		article{

			width: $half;
			float: right;
			position: $pos;
			top: 8.5em;

			h5{
				font-size: 32px;
				font-weight: 300;
				top: 0;
			}

			p{
				font-size: 14px;
				line-height: 30px;
				width: $eighty;
				position: $pos;
				top: 1.5em;
			}


			.smallButton{ 
				left: -24em;
				top: 5em;
				&:before{
					color: white;
				}
			}

		}



		.recents{
			width: $whole;
			float: left;
			position: $pos;
			top: 12em;

			em{
				text-transform: uppercase;
				letter-spacing: 1px;
				position: $pos;
				left: 7em;
				top: 8em;
			}	

			.column{ 

				float: left;
				width: 30%; 
				
				h4{
					font-size: 23px;
					font-weight: 300;
					position: relative;
					left: 5em;
					top: 6.5em;
				}

				p{
					text-transform: uppercase;
					color: gray;
					font-weight: 200;
					position: relative;
					top: 10em;
					left: 7em;
					font-size: 16px;
				}
			}

		}
	}


	/*=== About ===*/

	#about{

		top: 18em;

		.introDiv{
			top: 0;
			height: 100px;
		}

		.column{
			float: left;
			top: 3em;
			height: 30em;
			width: 30%;
			position: $pos;
			top: 2em;
			left: 5em;
			
			b{ color: #f4614c; }

			p{
				width: 85%;
				line-height: 30px;
				font-size: 18px;
				font-weight: 200;
			}

		}

		.gear{
			height: 30em;
			background: url('../img/cic.png') no-repeat;
		}

	}

	/*=====Network=====*/
	#network{ 

		top: 11em;

		.introDiv{

			h3{
				position: absolute;
				width: 100%;
			}

			h2{
				width: 94%;
				left: 1em;
			}

		}


		.column{
			float: left;
			width: 30%;
			position: $pos;
			left: 4em;
			top: 7em;
			text-align: center;

			p{
				width: $whole;
				float: $under;
				line-height: 26px;
				font-weight: 200;
				font-size: 14px;
			}
		}
	}


	/*====Contact====*/

	#contact {

		top: 9em;

		.introDiv{
			height: 200px;

			h3{
				position: absolute;
				width: $whole;
			}

			h2{
				width: 101%;
				left: 5%;
			}

		}


		.column{
			position: $pos;
			float: left;
			width: 30%;
			top: 8em;
			margin-right: 1em;
			left: 5em;

			span{
				float: left;
				font-weight: 200;
				font-size: 14px;
			}

			p{ 
				font-size: 20px;
				margin-top: 6em !important; 
				
				&:nth-of-type(2){
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 500;
					color: gray;
					margin: .5em 0 0 0 !important;
					letter-spacing: 4px;
				}

			}
		}

	}

}

/*=====Footer=====*/
footer{

	float: left;
	margin: 10em 0 0 0;
	bottom: 0px;
	width: 100%;
	background: $peachy;
	padding: 4em;		

	.wrapper{
		height: 180px;
		position: relative;
		bottom: 0;
		text-align: center;

		#tweet{
			float: left;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 600;
			color: black;
			position: $pos;
		}

		#fb{
			@extend #tweet;
			float: right;
		}

		form{
			background: white;
			border-radius: 15px;
			width: 30%;
			height: 8em;
			position: $pos;
			float: left;
			top: 4em;
			left: -9em;
			text-align: center;


			h1{
				text-transform: italic;
				font-size: 20px;
				width: 100%;
				right: 0;
				font-weight: 400;
				letter-spacing: 1px;
				top: 1em;
			}

			input{
				height: 3.5em;
				width: 70%;
				position: $pos;
				top: 3em;
				left: 0;
			}

			a{
				height: 2.5em;
				width: 2.5em;
				border-radius: 5px;
				float: right;
				background: rgb(255,205,0);
				position: $pos;
				top: 2em;
				right: .5em;
				padding: 3%;
			}
		}

		.bigButton{
			top: 5em;
			left: 3em;
		}

		#question{
			float: left;
			position: $pos;
			top: 5em;
			left: 10em;
			color: black;
			font-size: 18px;
		}


		h3{
			float: left;
			width: $whole;
			margin-top: 2em;
		}

		h2{
			@extend h3;
			color: white;
			font-size: 30px;
			top: -1em;
			left: 0;
			position: $pos;
		}

		.star{
			position: $pos;
			top: 23em;
			left: 1em;
			width: $whole;
			text-align: center;
		}
	}
}


#copySection{
	background: black;
	width: 100%;
	height: 5em;
	color: gray;
	text-transform: uppercase;
	font-weight: 500;
	float: left;
	padding: .7% .5% .5% 5%;

	p{
		position: $pos;
		top: 2em;
	}

	#hosting{
		float: right;
		position: $pos;
		top: -3em;
		margin-right: 7em;

		p{
			float: left;
			display: inline-block;
			position: $pos;
			top: 4em;
		}

		img{
			position: $pos;
			top: 2.5em;
			left: .5em;
		}

	}


}
