@import "normalize";
@import "partials/breakpoints";
@import "partials/base_mixins";
@import "partials/decorators";



*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html{
	overflow-x: hidden;
}


body{


	margin: 0 auto;
	background: black;
	 

	h1{
		font-size: 3em;
		width: 100%;
		text-align: center;
		color: $lavendar;
		font-family: $marker;
	}

	h2{
		@extend h1;
		font-size: 2em;
	}


	
	section{
		width: 100%;
		float: left;
		margin: 5em 1em;
		color: $lavendar;
		background: rgba(189, 160, 203, .5);

		@include breakpoint($bp-desktop){ 
			max-width: 100%;
			margin:  3em 0;
		}		

		

		figure{
				
			position: relative;
			float: left;

			@include breakpoint($bp-smaller){
				margin: 0;
			}

			@include breakpoint($bp-desktop){
				width: 40%;
			}

			img{
				float: left;
				max-width: 100%;

				@include breakpoint($bp-smaller){ 
					max-width: 100%;	
				}
			}	
		}


		p{
			width: 90%;
			float: right;
			font-family: $indie;
			font-size: 18px;
			line-height: 30px;
			text-indent: 20px;
			color: white;
			letter-spacing: 2px;
			margin: 1em 2em;

			&:nth-of-type(2){
				width: 90%;
				
				@include breakpoint($bp-desktop){ 
					width: 45%;
				}
			}

			@include breakpoint($bp-smaller){ 	
				width: 90%;
				margin: 2em 5%;
				font-variant: word
			}

			@include breakpoint($bp-desktop){ 
				width: 45%;
			}
		}


		ul{
			width: 30%;
			float: left;
			margin: 0 7%;
			font-size: 20px;
			color: $lavendar;
			font-family: $indie;
			
			@include breakpoint($bp-smaller){
				margin: 0 30%;
			}
	
			li{
				width: 44%;
				line-height: 11px;
				margin: 1em 3em;
				list-style-type: circle;
				color: white;
			}
		}
	}




	.recommend{
		float: right;

		figure{ max-width: 100%; }

		ul{
			float: right;
			width: 67%;
			margin: 2em -25%;

			li{ width: 100%;}
		}

		@include breakpoint($bp-smaller){

			img{ display:none;}
			
			ul{
				width: 30%;
				margin: 1em 34%;
			}
		}
		


	}



}

