/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, body, div, span, applet, object, iframe,
h1, h2, h3, footer .wrapper h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 27, ../sass/screen.scss */
html, body {
  width: 100%;
}

/* line 32, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "Gill Sans", Calibri, sans-serif;
}

/* line 38, ../sass/screen.scss */
section {
  position: relative;
  margin-bottom: 11em;
  float: left;
  width: 100%;
}

/* line 45, ../sass/screen.scss */
a {
  text-decoration: none;
  color: black;
  position: relative;
}
/* line 50, ../sass/screen.scss */
a:hover {
  color: #9ccbaa;
}

/* line 54, ../sass/screen.scss */
p {
  font-family: "Helvetica Neue", arial, sans-serif;
}

/*=== TYPOGRAPHY ===*/
/* line 58, ../sass/screen.scss */
h1 {
  font-weight: 400;
  font-size: 60px;
  position: relative;
  float: right;
  margin: 0;
  right: 1.9em;
}

/* line 67, ../sass/screen.scss */
h2 {
  color: #9e9490;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 70%;
  position: absolute;
  float: right;
  left: 4.5em;
  top: 3em;
  line-height: 30px;
}

/* line 80, ../sass/screen.scss */
h3, footer .wrapper h2 {
  font-size: 48px;
  font-weight: 400;
  margin-top: .5em;
  position: relative;
}

/* line 88, ../sass/screen.scss */
h4 {
  color: #255b68;
  font-size: 19px;
  font-weight: 400;
}

/* line 96, ../sass/screen.scss */
h5 {
  float: left;
  font-weight: 300;
  font-size: 24px;
  color: #3694a7;
  position: relative;
  width: 80%;
  top: 1em;
  margin: 0 0 1.5em 0;
}

/* line 107, ../sass/screen.scss */
.introDiv {
  width: 60%;
  margin: 0 auto;
  border-top: 1.5px dotted black;
  border-bottom: 1.5px dotted black;
  position: relative;
  top: 5em;
  text-align: center;
  height: 180px;
}

/* line 121, ../sass/screen.scss */
.bigButton {
  float: right;
  background: #ffcd00;
  height: 3em;
  width: 25em;
  position: relative;
  top: 13em;
  left: 16em;
  color: black;
  font-weight: 400;
}
/* line 132, ../sass/screen.scss */
.bigButton div {
  position: relative;
  top: -2.2em;
  left: 5%;
  font-size: 24px;
}
/* line 140, ../sass/screen.scss */
.bigButton:before {
  content: "\25BA";
  color: #f36244;
  font-size: 4em;
  position: relative;
  left: -2.8em;
  top: -0.1em;
}
/* line 149, ../sass/screen.scss */
.bigButton:after {
  content: "\25BA";
  color: #ffcd00;
  font-size: 3.5em;
  position: relative;
  top: -1.58em;
  left: 3.92em;
}

/* line 160, ../sass/screen.scss */
.smallButton {
  float: right;
  background: #ffcd00;
  height: 3em;
  width: 12em;
  position: relative;
  top: 2em;
  left: -13em;
  color: black;
  font-weight: 400;
}
/* line 172, ../sass/screen.scss */
.smallButton div {
  position: relative;
  top: -1.85em;
  left: 35%;
  font-size: 24px;
}
/* line 179, ../sass/screen.scss */
.smallButton:before {
  content: "\25BA";
  color: #9ccbaa;
  font-size: 3.5em;
  position: relative;
  left: -0.1em;
}
/* line 188, ../sass/screen.scss */
.smallButton:after {
  content: "\25BA";
  color: #ffcd00;
  font-size: 3.5em;
  position: relative;
  top: -1.42em;
  left: 3.33em;
}

/* line 201, ../sass/screen.scss */
header {
  width: 100%;
  text-align: center;
  height: 320px;
  background: #f4614c;
  padding-top: 2em;
}
/* line 208, ../sass/screen.scss */
header img {
  position: relative;
  top: .5em;
  left: 5em;
}
/* line 214, ../sass/screen.scss */
header p {
  float: right;
  position: relative;
  top: 11em;
  left: 4.8em;
  font-size: 15px;
}
/* line 223, ../sass/screen.scss */
header h2 {
  width: 50%;
  top: 4em;
  left: 23em;
  color: white;
}

/* line 232, ../sass/screen.scss */
nav {
  height: 2.8em;
  background: black;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
/* line 241, ../sass/screen.scss */
nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
}
/* line 247, ../sass/screen.scss */
nav ul li {
  width: 9%;
  height: 100%;
  display: inline-block;
  list-style: none;
  border-left: 2px dotted rgba(90, 90, 90, 0.7);
  position: relative;
}
/* line 255, ../sass/screen.scss */
nav ul li:nth-of-type(7) {
  border-right: 2px dotted rgba(90, 90, 90, 0.7);
}
/* line 259, ../sass/screen.scss */
nav ul li a {
  float: left;
  color: white;
  height: 100%;
  width: 100%;
  padding: 9%;
  font-weight: 500;
  letter-spacing: 1px;
}
/* line 270, ../sass/screen.scss */
nav ul .looneyLogo {
  top: 0em;
}
/* line 273, ../sass/screen.scss */
nav ul .looneyLogo img {
  position: absolute;
  left: 20%;
}

/* line 281, ../sass/screen.scss */
.wrapper {
  margin: 0 auto;
  width: 80%;
  /*====== Work Section =====*/
  /*==== BLOG====*/
  /*=== About ===*/
  /*=====Network=====*/
  /*====Contact====*/
}
/* line 289, ../sass/screen.scss */
.wrapper #work .feature {
  height: 590px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 7em;
  background: #9ccbaa;
}
/* line 297, ../sass/screen.scss */
.wrapper #work .feature h3, footer .wrapper #work .feature h2 {
  float: right;
  width: 39%;
  text-align: center;
  top: 1.5em;
}
/* line 304, ../sass/screen.scss */
.wrapper #work .feature #mtv {
  float: left;
  position: relative;
  top: 170px;
  left: 130px;
  z-index: 2;
}
/* line 313, ../sass/screen.scss */
.wrapper #work .feature p:nth-of-type(1) {
  float: right;
  position: relative;
  right: 15em;
  top: 4em;
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase;
}
/* line 323, ../sass/screen.scss */
.wrapper #work .feature p:nth-of-type(2) {
  float: right;
  position: relative;
  right: 3em;
  top: 5em;
  font-size: 18px;
  width: 430px;
  line-height: 26px;
  font-weight: 200;
  letter-spacing: 1px;
}
/* line 337, ../sass/screen.scss */
.wrapper #work .star {
  position: relative;
  width: 2em;
  float: right;
  right: 19em;
  top: -3em;
}
/* line 345, ../sass/screen.scss */
.wrapper #work .column {
  width: 33%;
  float: left;
  position: relative;
  left: 1.7em;
  top: 9em;
}
/* line 352, ../sass/screen.scss */
.wrapper #work .column .caption {
  float: left;
  width: 88.6%;
  padding-left: 5%;
  position: relative;
  top: 1em;
}
/* line 361, ../sass/screen.scss */
.wrapper #work .column .caption p {
  width: 85%;
  line-height: 24px;
  font-weight: 300;
  font-size: 14px;
  margin: 1em 0 0 0;
}
/* line 371, ../sass/screen.scss */
.wrapper #work .third {
  top: 6em;
}
/* line 373, ../sass/screen.scss */
.wrapper #work .square {
  width: 40%;
  margin: 0 auto;
  background: #ffcd00;
  height: 3em;
  float: left;
  position: relative;
  top: 8em;
  left: 30%;
  text-align: center;
  padding: 1.5%;
  font-size: 20px;
  color: black;
}
/* line 396, ../sass/screen.scss */
.wrapper #news .introDiv {
  height: 210px;
}
/* line 399, ../sass/screen.scss */
.wrapper #news h2 {
  width: 97%;
  top: 4em;
  left: 0;
  margin: 0 auto;
}
/* line 406, ../sass/screen.scss */
.wrapper #news .feature {
  background: none;
  width: 50%;
  float: left;
  position: relative;
  top: 7em;
}
/* line 413, ../sass/screen.scss */
.wrapper #news .feature p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 200;
  width: 80%;
  position: relative;
  top: 3em;
  margin-bottom: 5em;
}
/* line 424, ../sass/screen.scss */
.wrapper #news .secondRecent {
  position: relative;
  top: 7em;
  width: 50%;
  float: right;
  right: 2em;
}
/* line 431, ../sass/screen.scss */
.wrapper #news .secondRecent p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  width: 80%;
  position: relative;
  top: 2.9em;
}
/* line 440, ../sass/screen.scss */
.wrapper #news .secondRecent a:nth-of-type(2) {
  top: 3em;
  left: -14.8em;
  font-size: 1.5em;
}
/* line 446, ../sass/screen.scss */
.wrapper #news .secondRecent .column {
  float: left;
  position: relative;
  top: 8.5em;
  width: 10em;
  height: 10em;
  margin-right: 1em;
}
/* line 455, ../sass/screen.scss */
.wrapper #news .secondRecent .column:nth-of-type(3) {
  top: 7em;
  margin: 0;
}
/* line 460, ../sass/screen.scss */
.wrapper #news .secondRecent .column p {
  font-size: 16px;
  font-weight: bold;
  color: #3694a7;
  width: 100%;
  position: relative;
  top: 2em;
}
/* line 471, ../sass/screen.scss */
.wrapper #news .secondRecent .smallButton {
  float: left;
  top: 14em;
  left: 0;
}
/* line 479, ../sass/screen.scss */
.wrapper #news .smallButton:before, .wrapper #news #blog .smallButton:before {
  color: white;
}
/* line 486, ../sass/screen.scss */
.wrapper #blog {
  position: relative;
  float: left;
}
/* line 491, ../sass/screen.scss */
.wrapper #blog .introDiv {
  height: 230px;
  text-align: center;
}
/* line 495, ../sass/screen.scss */
.wrapper #blog .introDiv h2 {
  width: 94%;
  left: 1.5em;
  line-height: 30px;
}
/* line 504, ../sass/screen.scss */
.wrapper #blog img:nth-of-type(1) {
  position: relative;
  top: 8.5em;
  left: 7em;
}
/* line 510, ../sass/screen.scss */
.wrapper #blog article {
  width: 50%;
  float: right;
  position: relative;
  top: 8.5em;
}
/* line 517, ../sass/screen.scss */
.wrapper #blog article h5 {
  font-size: 32px;
  font-weight: 300;
  top: 0;
}
/* line 523, ../sass/screen.scss */
.wrapper #blog article p {
  font-size: 14px;
  line-height: 30px;
  width: 80%;
  position: relative;
  top: 1.5em;
}
/* line 532, ../sass/screen.scss */
.wrapper #blog article .smallButton {
  left: -24em;
  top: 5em;
}
/* line 535, ../sass/screen.scss */
.wrapper #blog article .smallButton:before {
  color: white;
}
/* line 544, ../sass/screen.scss */
.wrapper #blog .recents {
  width: 100%;
  float: left;
  position: relative;
  top: 12em;
}
/* line 550, ../sass/screen.scss */
.wrapper #blog .recents em {
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  left: 7em;
  top: 8em;
}
/* line 558, ../sass/screen.scss */
.wrapper #blog .recents .column {
  float: left;
  width: 30%;
}
/* line 563, ../sass/screen.scss */
.wrapper #blog .recents .column h4 {
  font-size: 23px;
  font-weight: 300;
  position: relative;
  left: 5em;
  top: 6.5em;
}
/* line 571, ../sass/screen.scss */
.wrapper #blog .recents .column p {
  text-transform: uppercase;
  color: gray;
  font-weight: 200;
  position: relative;
  top: 10em;
  left: 7em;
  font-size: 16px;
}
/* line 588, ../sass/screen.scss */
.wrapper #about {
  top: 18em;
}
/* line 592, ../sass/screen.scss */
.wrapper #about .introDiv {
  top: 0;
  height: 100px;
}
/* line 597, ../sass/screen.scss */
.wrapper #about .column {
  float: left;
  top: 3em;
  height: 30em;
  width: 30%;
  position: relative;
  top: 2em;
  left: 5em;
}
/* line 606, ../sass/screen.scss */
.wrapper #about .column b {
  color: #f4614c;
}
/* line 608, ../sass/screen.scss */
.wrapper #about .column p {
  width: 85%;
  line-height: 30px;
  font-size: 18px;
  font-weight: 200;
}
/* line 617, ../sass/screen.scss */
.wrapper #about .gear {
  height: 30em;
  background: url("../img/cic.png") no-repeat;
}
/* line 625, ../sass/screen.scss */
.wrapper #network {
  top: 11em;
}
/* line 631, ../sass/screen.scss */
.wrapper #network .introDiv h3, footer .wrapper #network .introDiv h2 {
  position: absolute;
  width: 100%;
}
/* line 636, ../sass/screen.scss */
.wrapper #network .introDiv h2 {
  width: 94%;
  left: 1em;
}
/* line 644, ../sass/screen.scss */
.wrapper #network .column {
  float: left;
  width: 30%;
  position: relative;
  left: 4em;
  top: 7em;
  text-align: center;
}
/* line 652, ../sass/screen.scss */
.wrapper #network .column p {
  width: 100%;
  float: none;
  line-height: 26px;
  font-weight: 200;
  font-size: 14px;
}
/* line 665, ../sass/screen.scss */
.wrapper #contact {
  top: 9em;
}
/* line 669, ../sass/screen.scss */
.wrapper #contact .introDiv {
  height: 200px;
}
/* line 672, ../sass/screen.scss */
.wrapper #contact .introDiv h3, footer .wrapper #contact .introDiv h2 {
  position: absolute;
  width: 100%;
}
/* line 677, ../sass/screen.scss */
.wrapper #contact .introDiv h2 {
  width: 101%;
  left: 5%;
}
/* line 685, ../sass/screen.scss */
.wrapper #contact .column {
  position: relative;
  float: left;
  width: 30%;
  top: 8em;
  margin-right: 1em;
  left: 5em;
}
/* line 693, ../sass/screen.scss */
.wrapper #contact .column span {
  float: left;
  font-weight: 200;
  font-size: 14px;
}
/* line 699, ../sass/screen.scss */
.wrapper #contact .column p {
  font-size: 20px;
  margin-top: 6em !important;
}
/* line 703, ../sass/screen.scss */
.wrapper #contact .column p:nth-of-type(2) {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  margin: .5em 0 0 0 !important;
  letter-spacing: 4px;
}

/*=====Footer=====*/
/* line 720, ../sass/screen.scss */
footer {
  float: left;
  margin: 10em 0 0 0;
  bottom: 0px;
  width: 100%;
  background: #f4614c;
  padding: 4em;
}
/* line 729, ../sass/screen.scss */
footer .wrapper {
  height: 180px;
  position: relative;
  bottom: 0;
  text-align: center;
}
/* line 735, ../sass/screen.scss */
footer .wrapper #tweet, footer .wrapper #fb {
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: black;
  position: relative;
}
/* line 744, ../sass/screen.scss */
footer .wrapper #fb {
  float: right;
}
/* line 749, ../sass/screen.scss */
footer .wrapper form {
  background: white;
  border-radius: 15px;
  width: 30%;
  height: 8em;
  position: relative;
  float: left;
  top: 4em;
  left: -9em;
  text-align: center;
}
/* line 761, ../sass/screen.scss */
footer .wrapper form h1 {
  text-transform: italic;
  font-size: 20px;
  width: 100%;
  right: 0;
  font-weight: 400;
  letter-spacing: 1px;
  top: 1em;
}
/* line 771, ../sass/screen.scss */
footer .wrapper form input {
  height: 3.5em;
  width: 70%;
  position: relative;
  top: 3em;
  left: 0;
}
/* line 779, ../sass/screen.scss */
footer .wrapper form a {
  height: 2.5em;
  width: 2.5em;
  border-radius: 5px;
  float: right;
  background: #ffcd00;
  position: relative;
  top: 2em;
  right: .5em;
  padding: 3%;
}
/* line 792, ../sass/screen.scss */
footer .wrapper .bigButton {
  top: 5em;
  left: 3em;
}
/* line 797, ../sass/screen.scss */
footer .wrapper #question {
  float: left;
  position: relative;
  top: 5em;
  left: 10em;
  color: black;
  font-size: 18px;
}
/* line 807, ../sass/screen.scss */
footer .wrapper h3, footer .wrapper h2 {
  float: left;
  width: 100%;
  margin-top: 2em;
}
/* line 813, ../sass/screen.scss */
footer .wrapper h2 {
  color: white;
  font-size: 30px;
  top: -1em;
  left: 0;
  position: relative;
}
/* line 822, ../sass/screen.scss */
footer .wrapper .star {
  position: relative;
  top: 23em;
  left: 1em;
  width: 100%;
  text-align: center;
}

/* line 833, ../sass/screen.scss */
#copySection {
  background: black;
  width: 100%;
  height: 5em;
  color: gray;
  text-transform: uppercase;
  font-weight: 500;
  float: left;
  padding: .7% .5% .5% 5%;
}
/* line 843, ../sass/screen.scss */
#copySection p {
  position: relative;
  top: 2em;
}
/* line 848, ../sass/screen.scss */
#copySection #hosting {
  float: right;
  position: relative;
  top: -3em;
  margin-right: 7em;
}
/* line 854, ../sass/screen.scss */
#copySection #hosting p {
  float: left;
  display: inline-block;
  position: relative;
  top: 4em;
}
/* line 861, ../sass/screen.scss */
#copySection #hosting img {
  position: relative;
  top: 2.5em;
  left: .5em;
}
